html,body {
    width: 100%;
    height:100%;
    margin:0px;
	overflow:hidden;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
}

#map .ol-zoom .ol-zoom-out{
    background-color: #3CB371;
}
#map .ol-zoom .ol-zoom-in{
    background-color: #3CB371;
}
#map .ol-scale-line{
    background-color: #3CB371;
}
